spring:
  application:
    name: cinema-api
  profiles:
    active: dev

info:
  app:
    name: ${spring.application.name}
    description: API para plataforma de cinemas
    version: @project.version@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,beans,mappings
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
      show-components: when-authorized
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true



