spring:
  config:
    import: optional:file:./env-dev.properties
  devtools:
    restart:
      enabled: true
  datasource:
    url: jdbc:postgresql://${DB_URL:localhost:5432}/${DB_NAME:cinema-db}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        schema_update:
          unique_constraint_strategy: RECREATE_QUIETLY
  flyway:
    baseline-on-migrate: true
    baseline-description: init
    baseline-version: 0
    enabled: true
    user: ${DB_USER:root}
    password: ${DB_PASSWORD:root}
  mail:
    host: smtp.gmail.com
    port: 587
    sender: ${EMAIL_SENDER:CineMiranha <email>}
    username: ${EMAIL_USERNAME:email_username}
    password: ${EMAIL_PASSWORD:password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    shutdown:
      access: read_only
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    db:
      enabled: true
    diskspace:
      enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      application: ${spring.application.name}
      environment: dev
  simple:
    metrics:
      export:
        enabled: true

logging:
  level:
    root: INFO
